@font-face {
    font-family: 'Larispol Handwritten';
    src: url('./fonts/larispolhandwritten.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Larispol Handwritten';
    letter-spacing: 1.5px;
}

header{
    background-color: white;
    margin-left: 7rem;
    margin-right: 7rem;
    min-height: 25rem;
    background-image: url(../assets/img/hockey1.jpg);
    background-size: 190vh;
    background-position-y: -10rem;


}

header>background-image{
    width: 10%;
    height: 35%;
}

a{
    height: 2rem;
    width: 10rem;
    color: white;
    background-color: rgb(32, 66, 178);
    text-decoration: none;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    word-spacing: normal;
}

a[href="#"]{
    background-color: rgb(148, 218, 44);
}

nav{
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 1rem;
    flex-wrap: nowrap;
}

h1{
    font-size: 3rem;
    margin-left: 7rem;
    margin-top: 3rem;
    letter-spacing: 10px;
}

.images{
    margin-left: 7rem;
    display: inline-flex;
}

main section img{
    width: 10rem;
}

h2{
    margin-left: 7rem;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 0;
    margin-right: 7rem;
    height: 3rem;
    padding-top: 0.5rem;
}

.info{
    padding-right: 7rem;
}

.info article{
    padding-bottom: 3px;
    font-size: large;
}